* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --header-height: 80px;
    --subnav-width: 257px;
    --primary-color: #56cacf;
    --white-color: #fff;
    --text-color: #19263e;
    --font-main: Poppins, sans-serif;
}   
body {
    font-family: var(--font-main);
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.dots__pagination {
    text-align: center;
    margin-top: 42px;
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #a4e6f1;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot:hover {
    background-color: var(--primary-color);
}

.dot.active {
    background-color: var(--primary-color, #43cdd7); /* Thay bằng màu xanh của bạn */
}