* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --header-height: 80px;
    --subnav-width: 257px;
    --primary-color: #56cacf;
    --white-color: #fff;
    --text-color: #19263e;
    --font-main: "Helvetica Neue", sans-serif;
}   
body {
    font-family: var(--font-main);
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}