.main {
    position: relative;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 22px;
    background-color: #fff;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.header__logo-img {
    width: 150px;
    height: 48px;
}

/* Navigation css */
.nav {
    max-width: 892px;
    height: var(--header-height);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-item {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
}

.nav-item__link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 40px;
    /* thêm position relative */
    position: relative;
    transition: color 0.2s ease;
}

.nav-item__link:hover {
    color: var(--primary-color);
}

.nav-item__link .item-outer {
    position: relative;
}

/* Handle bar */
.nav-item__link .item-outer::after {
    /* --width-nav-item__link:  */
    content: "";
    /* 1. Định vị tuyệt đối ở dưới cùng */
    position: absolute;
    bottom: -4px;
    left: 0;
    /* 2. Kích thước và màu sắc của thanh gạch chân */
    height: 2px; /* Chiều cao của gạch chân */
    width: 100%;
    background-color: var(--primary-color); /* Màu của gạch chân */
    
    /* 3. Thiết lập mặc định ẩn và hiệu ứng chuyển động */
    transform: scaleX(0); /* Ban đầu ẩn hoàn toàn (scale về 0 theo chiều X) */
    transform-origin: left; /* Đặt điểm gốc chuyển đổi là bên trái */
    transition: transform 0.2s ease-out; /* Thêm transition cho hiệu ứng chuyển động */
}

.nav-item__link:hover .item-outer::after {
    /* 4. Khi hover, hiển thị thanh gạch chân */
    transform: scaleX(1); /* Scale về 100% (hiển thị đầy đủ) */
}

/* start subnav css */
.nav-list .nav-item:nth-child(1),
.nav-list .nav-item:nth-child(2), 
.nav-list .nav-item:nth-child(3), 
.nav-list .nav-item:nth-child(4), 
.nav-list .nav-item:nth-child(5),
.nav-list .nav-item:nth-child(6) {
    position: relative;
}
.nav-item:nth-child(1) .subnav,
.nav-item:nth-child(2) .subnav,  
.nav-item:nth-child(3) .subnav,  
.nav-item:nth-child(4) .subnav, 
.nav-item:nth-child(5) .subnav,
.nav-item:nth-child(6) .subnav {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: var(--subnav-width);
    min-height: 165px;
    padding-top: 28px;
    padding-bottom: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    /* Thêm hiệu ứng chuyển động (transition) */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s;
    z-index: 15;
}

.nav-list .nav-item:nth-child(1):hover .subnav,
.nav-list .nav-item:nth-child(2):hover .subnav, 
.nav-list .nav-item:nth-child(3):hover .subnav, 
.nav-list .nav-item:nth-child(4):hover .subnav,
.nav-list .nav-item:nth-child(5):hover .subnav,
.nav-list .nav-item:nth-child(6):hover .subnav {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    z-index: 16;

}

.subnav-item {
    list-style-type: none;
    width: 100%;
    padding: 9px 39px;
    cursor: pointer;
}

.subnav-item__link {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 1.5rem;
    width: 100%;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: color .2s ease;
}

.subnav-item__link .item-outer {
    position: relative;
}
.subnav-item__link .item-outer::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .2s ease-out;
}
.subnav-item:hover .subnav-item__link {
    color: var(--primary-color);
}
.subnav-item:hover .subnav-item__link .item-outer::after {
    transform: scaleX(1);
}

/* start subnav item dropdown Blog */
.subnav-item:nth-child(2), 
.subnav-item:nth-child(3),
.subnav-item:nth-child(4) {
    position: relative;
}

.subnav-item__dropdown {
    padding: 28px 0 30px 0;
    position: absolute;
    top: -27px;
    right: -257px;
    width: var(--subnav-width);
    min-height: 165px;
    background: var(--white-color);
    opacity: 0;
    visibility: hidden;
    /* Thêm hiệu ứng chuyển động (transition) */
    transition: opacity 0.3s ease-out,  visibility 0.3s;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.subnav .subnav-item:nth-child(2):hover .subnav-item__dropdown, 
.subnav .subnav-item:nth-child(3):hover .subnav-item__dropdown,
.subnav .subnav-item:nth-child(4):hover .subnav-item__dropdown {
    opacity: 1;
    visibility: visible;
}

.subnav-item__dropdown-item {
    list-style-type: none;
    width: 100%;
    height: 35px;
}

.subnav-item__dropdown-link {
    text-decoration: none;
    padding: 9px 32px;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    transition: color .2s ease;
}

.subnav-item__dropdown-item:hover .subnav-item__dropdown-link{
    color: var(--primary-color);
}

.subnav-item__dropdown-link .item-outer {
    position: relative;
}
.subnav-item__dropdown-link .item-outer::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .2s ease-out;
}
.subnav-item__dropdown-item:hover .item-outer::after {
    transform: scaleX(1);
}
/* end subnav item Blog */

/* start header utility */
.utility {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: 105px;
}

.utility__shoping-cart {
    position: relative;
    width: 25px;
    height: 100%;
}

.utility__shoping-cart-dropdown {
    position: absolute;
    top: var(--header-height);
    right: 0;
    min-height: 74px;
    width: 270px;
    background: var(--white-color);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    /* Thêm hiệu ứng chuyển động (transition) */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s;
}

.utility__shoping-cart:hover .utility__shoping-cart-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.utility__shoping-cart-dropdown-list {
    margin: 25px;
}

.shoping-cart-dropdown__text {
    font-size: 1.4rem;
    color: var(--text-color);

}


.utility__shoping-cart-link,
.utility__search,
.utility__menu {
    display: block;
    line-height: var(--header-height);
    font-size: 1.7rem;
    color: var(--text-color);
    position: relative;
    transition: color 0.2s ease;
}

.utility__shoping-cart-link:hover i,
.utility__search:hover i,
.utility__menu:hover i {
    color: var(--primary-color);
}

.utility__menu {

}

/* start Slider Css */
#slider {
    margin-top: var(--header-height);
    position: relative;
    max-width: 100%;
    height: 420px;
    overflow: hidden; /* Quan trọng: ẩn phần zoom ra ngoài */
}

/* slider btn */
.slider__nav {
    border: none;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 17px 15px;
    transition: all 0.3s ease;
}

.slider__nav i {
    font-size: 2rem;
}

.slider__nav:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.slider__btn-left {
    position: absolute;
    top: 50%;
    left: 24px;
    z-index: 15;
    transform: translateY(-50%);
}

.slider__btn-right {
    position: absolute;
    top: 50%;
    right: 24px;
    z-index: 15;
    transform: translateY(-50%);
}

.slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 80%;
    user-select: none;
    height: 80%;
}

.slider__content-inner {
    color: var(--white-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    /* Trạng thái ban đầu: ẩn và ở dưới */
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Class khi text xuất hiện */
.slider__content-inner.slider__content--show {
    opacity: 1;
    transform: translateY(0);
}

.slider__content-title {
    font-size: 4.8rem;
    font-family: 'Dancing Script', cursive; /* Font chữ nghệ thuật */
}

.slider__content-subtitle {
    font-size: 11.8rem;
    font-weight: 700;
}

.slider__content-text {
    font-size: 1.8rem;
}

/* Element Img slides */
.slider__slides-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    /* Trạng thái ban đầu */
    opacity: 0;
    transform: scale(1);
    z-index: 1;
    
    transition: opacity 0.6s ease-in-out;
}

/* Slide đang active */
.slider__slide.slider__slide--active {
    opacity: 1;
    z-index: 2;
}

/* Hiệu ứng zoom khi slide active */
.slider__slide.slider__slide--zoom {
    animation: zoomEffect 3s ease-out forwards;
}

/* Keyframe cho hiệu ứng zoom */
@keyframes zoomEffect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1); /* Zoom 110% */
    }
}

/* start content */
#content {
    background-color: #fff;
    padding-bottom: 50px; /* Thêm padding dưới cho phần phân trang */
}

.tour-section {
    margin-top: 20px;
    position: relative;
}

/* Container bọc tour-list, kiểm soát việc hiển thị chỉ 4 item */
.tour-list-wrapper {
    overflow: hidden; 
    padding: 10px 0;
}

.tour-list {
    display: flex; /* Đặt các item cạnh nhau */
    flex-wrap: nowrap; /* Không xuống dòng */
    /* width: max-content;  */
    /* Chiều rộng bằng tổng chiều rộng của tất cả item */
    transition: transform 0.5s ease-in-out; /* Thêm transition cho chuyển động trượt */
    /* 2. Dùng cho hiệu ứng kéo chuột */
    cursor: grab;
    will-change: transform;
    user-select: none; /* Ngăn chặn chọn văn bản khi kéo */
}

.tour-list:active {
    cursor: grabbing;
}

.tour-item__wraper {

}

.tour-list.is-dragging {
    cursor: grabbing;
}

.tour-item {
    min-width: 288px;
}

.tour-item__img-link {
    display: block;
    overflow: hidden;
}

.tour-item__img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    display: block;
    /* add animation */
    transform: scale(1);
    transition: transform 2s ease-in-out;
}

.tour-item__img-link:hover .tour-item__img {
    transform: scale(1.1);
}


.tour-item__meta {
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.tour-item__meta-info,
.tour-item__meta-link {
    font-size: 1.4rem;
    padding: 8px 10px 8px 26px;
    color: var(--white-color);

}

.tour-item__meta-link {
    text-decoration: none;
}
.tour-item__outer {
    position: relative;
}
.tour-item__outer::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--white-color);
    /* animation */
    transform: scaleX(0);   
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

.tour-item__meta-link:hover .tour-item__outer::after {
    transform: scaleX(1);
}

.tour-item__inner {
    padding: 32px 25px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tour-item__title {
    margin-bottom: 10px;
}

.tour-item__title-link {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    transition: color .2s ease;

}


.tour-item__title-link:hover {
    color: var(--primary-color)
}

.tour-item__description {
    font-size: 1.4rem;
    line-height: 1.6;
}

.tour-item__footer {
    margin-top: 10px;
}

.tour-item__price,
.tour-item__rating,
.tour__item-review {
    margin-right: 15px;
    font-size: 1.4rem;
    font-weight: 600;
}


/* start cta feature */
.cta-feature {
    height: auto;
    width: 100%;
}

.cta-feature__header {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-feature__label {
    font-size: 3.3rem;
    line-height: 1.2;
    font-family: 'Dancing Script', cursive;
    color: var(--primary-color);
}

.cta-feature__title {
    font-size: 6.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--text-color);
}

.cta-feature__wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 856px;
    height: 412px;
    
}

.cta-feature__img-backgroud {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta-feature__link-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-feature__footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 856px;
    height: 412px;
}

.cta-feature__footer-text {
    font-size: 1.4rem;
    line-height: 1.4;
    color: var(--text-color);
    text-align: center;
}

.cta-feature__footer-link {
    font-size: 1.3rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 22px 0;
    max-width: 218px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;

}

.cta-feature__footer-link:hover {
    opacity: 0.8;
}
/* end cta feature */

/* start content review */
.review {
    position: relative;
    min-height: 600px;
    width: 100%;
    background-image: url(../img/tour-review/backgroud1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Lớp phủ mờ để nổi bật nội dung */
.review__overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
}

.review__wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.review__title {
    font-size: 6.5rem;
    color: var(--white-color);
    line-height: 1.4;

}

.review__subtitle {
    font-size: 1.7rem;
    color: var(--white-color);
    line-height: 1.4;
    width: 635px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
}

.review__list {
    user-select: none;
}

.review__item-wrap {
    background-color: var(--white-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 44px;
}

.review__item-avatar {
    width: 107px;
    height: 107px;
}

.review__item-content {
    text-align: left;
    margin-left: 30px;
}

.review__item-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}
.review__item-title:hover {
    color: var(--primary-color);
}

.review__item-star {
    font-size: 1.1rem;
    color: var(--primary-color);
}

.review__item-text {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 15px 0;
    line-height: 1.6;
}

.review__item-name {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 15px;
}
/* end content review */


/* start holiday hightlights */
.holidays {

}

.content__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 145px 0 68px;
} 

.content__heading-tagline {
    font-size: 3.3rem;
    font-family: Satisfy, cursive;
    line-height: 1.4;
    color: var(--primary-color);
}

.content__heading-title {
    font-size: 6.5rem;
    line-height: 1.4;
    color: var(--text-color);
}

.content__heading-text {
    font-size: 1.7rem;
    margin-top: 15px;
    color: #505050;
    text-align: center;
    line-height: 1.6;
}

.holidays__list {
    margin-bottom: 164px;
}

.holidays__item {
    text-align: center;
}

.holidays__item-wrap {

}

.holidays__item-img {
    transition: transform .4s ease-in-out;
    will-change: transform;
}

.holidays__item-img:hover {
    transform: translateY(-10px);
    filter: brightness(1.1); /* Làm ảnh sáng lên một chút */
}

.holiday__item-content {
    padding-top: 27px;
}

.holidays__item-title {
    font-size: 1.8rem;
    color: #212121;
}

.holidays__item-text {
    margin-top: 11px;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #505050;
}

/* end holiday hightlights */

/* start content team */
.team {

} 

.team-list {

}

.team-item {

}

.team-item__wraper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.team-item__image {
    display: block;
    width: 100%;
}

.team-item__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--primary-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    /* animation, default hide content */
    transform: translateY(100%);
    transition: transform .4s ease-out;
}
.team-item__wraper:hover .team-item__content {
    transform: translateY(0);
}

.team-item__name {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 15px;

}

.team-item__text {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
}

.team__item-socials {
}

.team__item-socials-link {
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
}

.team__item-socials-link:hover i {
    opacity: 0.7;
}

.team__item-socials-link i {
    margin: 0 8px;
}

/* end content team */

/* start stats */
.stats {
    width: 100%;
    height: 248px;
    background-color: #39bdc1;
}

.stats-wrapper {
    height: 100%;
}

.stats-list {
    height: 100%;
}

.stats-item__wrapper {
    color: var(--white-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-item__counter {
    font-size: 6.5rem;
    line-height: 1.4;
    font-weight: 600;
}

.stats-item__title {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 600;
}

/* end stats */

#footer {

}
