.main {
}

#header {
    padding: 0 22px;
    background-color: #fff;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {

}

.header__logo-link {

}

.header__logo-img {
    width: 150px;
    height: 48px;
}

/* Navigation css */
.nav {
    width: 892px;
    height: var(--header-height);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-item {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
}

.nav-item__link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 40px;
    /* thêm position relative */
    position: relative;
    transition: color 0.2s ease;
}

.nav-item__link:hover {
    color: var(--primary-color);
}

.nav-item__link .item-outer {
    position: relative;
}

/* Handle bar */
.nav-item__link .item-outer::after {
    /* --width-nav-item__link:  */
    content: "";
    /* 1. Định vị tuyệt đối ở dưới cùng */
    position: absolute;
    bottom: -4px;
    left: 0;
    /* 2. Kích thước và màu sắc của thanh gạch chân */
    height: 2px; /* Chiều cao của gạch chân */
    width: 100%;
    background-color: var(--primary-color); /* Màu của gạch chân */
    
    /* 3. Thiết lập mặc định ẩn và hiệu ứng chuyển động */
    transform: scaleX(0); /* Ban đầu ẩn hoàn toàn (scale về 0 theo chiều X) */
    transform-origin: left; /* Đặt điểm gốc chuyển đổi là bên trái */
    transition: transform 0.2s ease-out; /* Thêm transition cho hiệu ứng chuyển động */
}

.nav-item__link:hover .item-outer::after {
    /* 4. Khi hover, hiển thị thanh gạch chân */
    transform: scaleX(1); /* Scale về 100% (hiển thị đầy đủ) */
}

.nav-list .nav-item:nth-child(1) {
    position: relative;
}

/* start subnav css */
.nav-item:nth-child(1) .subnav {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 257px;
    min-height: 200px;
    padding-top: 28px;
    padding-bottom: 30px;
    background-color: var(--white-color);
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    /* Thêm hiệu ứng chuyển động (transition) */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s;
}

.nav-list .nav-item:nth-child(1):hover .subnav {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.subnav-item {
    list-style-type: none;
    width: 100%;
    padding: 9px 39px;
    cursor: pointer;
}

.subnav-item__link {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: color .2s ease;
}

.subnav-item__link .item-outer::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .2s ease-out;
}

.subnav-item:hover .subnav-item__link {
    color: var(--primary-color);
}
.subnav-item:hover .subnav-item__link .item-outer::after {
    transform: scaleX(1);
}



/* start header utility */
.header__utility {
    min-width: 106px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.utility__cart-link {
    color: var(--text-color);
    list-style-type: none;
    height: 100%;
    width: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.utility__cart-link i {
    font-size: 2rem;
}

.utility__search {

}

.utility__search i {
    font-size: 1.8rem;
}

.utility__bars {

}

.utility__bars i {
    font-size: 1.7rem;
}


/* Slider Css */
#slider {
    background-color: #ccc;
    height: 600px;
}

#content {

}

#footer {

}
